<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="company" class="com.intuit.Company">
        <constructor-arg value="Intuit"></constructor-arg>
        <constructor-arg value="Bangalore"></constructor-arg>
        <property name="founders">
            <list>
                <value>A</value>
                <value>B</value>
                <value>C</value>
            </list>
        </property>
    </bean>

    <bean id="hello" class="com.intuit.Hello" scope="prototype"></bean>

    <bean id="door" class="com.intuit.Door">
        <property name="alarm" ref="soundAlarm"/>
    </bean>

    <bean id="soundAlarm" class="com.intuit.SoundAlarm"></bean>
    <bean id="visualAlarm" class="com.intuit.VisualAlarm"></bean>

    <bean id="door2" class="com.intuit.Door">
        <property name="alarm" ref="visualAlarm"/>
    </bean>
</beans>